@model Lesson

<div class="container">
    <p class="h2">Create a new Lesson</p>

    <form method="post">

       
        <label asp-for="LessonName"></label>
        <input asp-for="LessonName" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="LessonName"></span>
        <br />

        <label asp-for="TeacherId"></label>
        <select asp-items="ViewBag.ListOfTeachers" class="form-select" asp-for="TeacherId">
            <option disabled selected>---Lütfen bir tane seçiniz.---</option>
        </select>
        <span class="text-danger" asp-validation-for="TeacherId"></span>
        <br />

        <label asp-for="LessonCode"></label>
        <input asp-for="LessonCode" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="LessonCode"></span>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@*Client side valdation*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}