@model Lesson

<div class="container">
    <p class="h2">Delete Lesson</p>

    <form method="post">

        <input hidden asp-for="@Model.Id" />

        <label asp-for="LessonName">LessonName: </label>
        <input disabled asp-for="LessonName" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="LessonName"></span>

        <label asp-for="LessonTeacher">LessonTeacher: </label>
        <input disabled asp-for="LessonTeacher" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="LessonTeacher"></span>

        <label asp-for="LessonCode">LessonCode: </label>
        <input disabled asp-for="LessonCode" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="LessonCode"></span>

        <button type="submit" class="btn btn-danger">Delete</button>

    </form>
</div>