@model Lesson

<div class="container">
    <p class="h2">Update Lesson</p>
    <form method="post">
    

        <div class="mt-3">
            <label asp-for="LessonName"></label>
            <input asp-for="LessonName" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="LessonName"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Teacher"></label>
            <input asp-for="Teacher" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="Teacher"></span>
        </div>

        <div class="mt-3">
            <label asp-for="LessonCode"></label>
            <input asp-for="LessonCode" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="LessonCode"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}